:root{
    --primary-color: #936aba; /* Azul Materialize */
    --secondary-color: #936aba; /* Verde Materialize */
    --text-color: #333; /* Color de texto */
    --background-color: #f4f4f4; /* Color de fondo */
    --second-background-color: #000; /* Color de fondo secundario */
    --font-color: #fff; /* Color de fuente */
}
body{
    background-color: var(--background-color); /* Color de fondo */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima igual a la altura de la ventana */
    margin: 0; /* Elimina márgenes */
}
header {
    color: var(--font-color);
    /* padding: 10px 0; */
    text-align: center;
}

header h1 {
    margin: 0; 
    font-size: 1.5rem;
    color: var(--font-color);
}
header h2 {
    margin: 0; 
    font-size: 2.5rem;
    color: var(--text-color);
}
header ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0; 
    padding: 0;
}
.nav-wrapper {
    background-color: var(--primary-color); /* Color de fondo del encabezado */
}
li a:hover {
    background-color: var(--primary-color);
    color: var(--text-color); /* Color de fondo del encabezado al pasar el mouse */
}
.btnwaves-effectwaves-light{
    background-color: var(--second-background-color);
}
#button{
    background-color: var(--second-background-color);
}
.card {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--primary-color); /* Fondo blanco */
    color: #333333; /* Texto gris oscuro */
    border-radius: 50px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    border: 1px solid var(--primary-color); /* Borde con el color primario */
}
.card-image {
    width: 460px; /* Ajusta el tamaño según sea necesario */
    height: 550px; /* Igual al ancho para que sea un círculo */
    border-radius: 50px; /* Hace que la imagen sea redonda */
    overflow: hidden; /* Asegura que el contenido no se desborde */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    border: 1px solid var(--primary-color); /* Borde con el color primario */
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/* Opcional: Cambiar el color del botón dentro de la card */
.card-action button {
    background-color: #6a1b9a; /* Color morado oscuro del botón del formulario */
    color: #fff; /* Texto blanco */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave */
}

.card-action button:hover {
    background-color: #4a148c; /* Color más oscuro al pasar el mouse */
}
.card-action{
    padding: 1px;
    margin-left: 125px;
    justify-content: center;
    border: none;
    margin: 0%;
    display: flex;
    background-color: var(--primary-color);
}
main {
    flex: 1; /* Hace que el main ocupe el espacio restante */
}
footer {
    background-color: var(--primary-color); /* Fondo del footer */
    color: var(--font-color); /* Color del texto */
    text-align: center; /* Centra el texto */
    padding: 15px 0; /* Espaciado interno */
    width: 100%; /* Ocupa todo el ancho */
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Sombra superior */
}

footer p {
    margin: 0; /* Elimina márgenes */
    font-size: 0.9rem; /* Tamaño del texto */
    color: var(--font-color); /* Color del texto */
}
.card-content{
    padding: 5px;
    margin: 0%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    color: #f4f4f4;
}