:root{
  --primary-color: #936aba; /* Azul Materialize */
  --secondary-color: #6a1b9a; /* Verde Materialize */
  --third-color: #4a148c; /* Verde Materialize */
  --text-color: #333; /* Color de texto */
  --background-color: #f4f4f4; /* Color de fondo */
  --second-background-color: #000; /* Color de fondo secundario */
  --font-color: #fff; /* Color de fuente */
  --secondary-font-color: #936aba;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}
header {
  color: var(--font-color);
  /* padding: 10px 0; */
  text-align: center;
}

header h1 {
  margin: 0; 
  font-size: 1.5rem;
  color: var(--font-color);
}
header h2 {
  margin: 0; 
  font-size: 2.5rem;
  color: var(--text-color);
}
header ul {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0; 
  padding: 0;
}
.nav-wrapper {
  background-color: var(--primary-color); /* Color de fondo del encabezado */
}
li a:hover {
  background-color: var(--primary-color);
  color: var(--text-color); /* Color de fondo del encabezado al pasar el mouse */
}
h1 {
    color: #333;
    margin-bottom: 10px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    gap: 4px;
    margin: 20px 50px;
}
.block{
    background-color: var(--primary-color);
}
.cell {
    position: relative;
    width: 50px;
    height: 50px;
    background: purple lighten-5 z-depth-3;
    border: 2px solid var(--primary-color);
    text-align: center;
}
.cell input {
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    text-align: center;
    background: transparent;
}
.cell .number {
    position: absolute;
    top: 2px;
    left: 4px;
    font-size: 10px;
    color: var(--secondary-font-color);
}
.clues {
    display: flex;
    gap: 40px;
    text-align: left;
}
.clues h3 {
    margin-bottom: 5px;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background: var(--secondary-color);
    color: var(--font-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background: var(--third-color);
}
.btn {
   background-color: var(--secondary-color);
}
.btn:hover {
   background-color: var(--third-color);
}
.clues{
    color: white;
}
/* Centra la card en la página */
main {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    padding: 20px; /* Espaciado interno */
    background-color: var(--background-color); /* Fondo del main */
}
/* Estilo de la card */
.card {
    width: 100%;
    max-width: 600px; /* Ancho máximo de la card */
    padding: 20px;
    background-color: var(--background-color); /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    text-align: center; /* Centra el contenido de la card */
}
footer {
  background-color: var(--primary-color);
  color: var(--font-color);
  position: relative;
  text-align: center;
  padding: 10px 0;
  margin: 0px;
}
footer p {
  margin: 0;
  font-size: 0.9rem;
  color: var(--font-color);
}
.mill{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}